<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/custom.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-2.0.3.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/angular/angular.min.js"></script>
  </head>
  <body>
